.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  z-index: 999;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview__fighter-info {
  display: flex;
  flex-direction: column;
  font-family: 'Arial Black';

  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
}

.fighter-preview___left .fighter-preview__fighter-info {
  left: 25%;
  top: 50%;
}

.fighter-preview___right .fighter-preview__fighter-info {
  left: 75%;
  top: 50%;
}
