.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.35);
  font-family: 'Arial Black';
}

.modal-image {
  position: absolute;
  left: 50%;
  top: -65%;
  transform: translate(-50%, -50%);
}

.modal-root {
  display: flex;
  flex-direction: column;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  position: relative;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #ca9650;
  color: #5a442a;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.modal-body {
  padding: 1rem;
  color: #5a442a;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
